html.dark {
  --uno: bg-dark;
}

.font-acorn {
  font-family: 'acorn', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

::selection{
  --uno: bg-brand-green/70 text-gray-9;
}

/* slide-up animation inspire by https://paco.me/ */
@media (prefers-reduced-motion: no-preference) {
  .slide-enter-content > * {
    --stagger: 0;
    --delay: 150ms;
    --start: 0ms;
    animation: fade-up 1s both 1;
    animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
  }

  .slide-enter-content > *:nth-child(1) { --stagger: 1; }
  .slide-enter-content > *:nth-child(2) { --stagger: 2; }
  .slide-enter-content > *:nth-child(3) { --stagger: 3; }
  .slide-enter-content > *:nth-child(4) { --stagger: 4; }
  .slide-enter-content > *:nth-child(5) { --stagger: 5; }
  .slide-enter-content > *:nth-child(6) { --stagger: 6; }
  .slide-enter-content > *:nth-child(7) { --stagger: 7; }
  .slide-enter-content > *:nth-child(8) { --stagger: 8; }
  .slide-enter-content > *:nth-child(9) { --stagger: 9; }
  .slide-enter-content > *:nth-child(10) { --stagger: 10; }
  .slide-enter-content > *:nth-child(11) { --stagger: 11; }
  .slide-enter-content > *:nth-child(12) { --stagger: 12; }
  .slide-enter-content > *:nth-child(13) { --stagger: 13; }
  .slide-enter-content > *:nth-child(14) { --stagger: 14; }
  .slide-enter-content > *:nth-child(15) { --stagger: 15; }
  .slide-enter-content > *:nth-child(16) { --stagger: 16; }
  .slide-enter-content > *:nth-child(17) { --stagger: 17; }
  .slide-enter-content > *:nth-child(18) { --stagger: 18; }
  .slide-enter-content > *:nth-child(19) { --stagger: 19; }
  .slide-enter-content > *:nth-child(20) { --stagger: 20; }

}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(15 157 88 / 0.7) transparent;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  --uno: w-19px;
}

::-webkit-scrollbar-track {
  --uno: bg-transparent;
}

::-webkit-scrollbar-thumb {
  --uno: bg-brand-green/70 rounded-8px bg-clip-padding;
  --uno: border-8 border-solid border-transparent;
}

::-webkit-scrollbar-thumb:hover {
  --uno: bg-brand-green;
}

::-webkit-scrollbar-button, 
::-webkit-scrollbar-corner  {
  --uno: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* to make shiki highlighter responsive to site theme */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}