html.dark {
  --uno: bg-dark;
}

.font-acorn {
  font-family: 'acorn', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 700;
}

::selection{
  --uno: bg-brand-green/70 text-gray-9;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(15 157 88 / 0.7) transparent;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  --uno: w-19px;
}

::-webkit-scrollbar-track {
  --uno: bg-transparent;
}

::-webkit-scrollbar-thumb {
  --uno: bg-brand-green/70 rounded-8px bg-clip-padding;
  --uno: border-8 border-solid border-transparent;
}

::-webkit-scrollbar-thumb:hover {
  --uno: bg-brand-green;
}

::-webkit-scrollbar-button, 
::-webkit-scrollbar-corner  {
  --uno: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* for shiki to react to site theme */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}