html {
  --uno: bg-white;
}
html.dark {
  --uno: bg-dark;
}

body {
  --uno: font-sans text-gray-7 dark:text-gray-3;
}

::selection{
  --uno: bg-brand/70 text-gray-9;
}

::-webkit-scrollbar {
  /* Total width including `border-width` of scrollbar thumb */
  --uno: h-8px w-8px;
}
::-webkit-scrollbar:hover {
  --uno: h-10px w-10px;
}
::-webkit-scrollbar-thumb {
  --uno: bg-gray-2 dark:bg-white/3 h-1em border-8 border-transparent;
  /* Transparent border together with `background-clip: padding-box` does the trick */
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  --uno: bg-brand-dark/30 h-1em border-6 border-transparent;
  background-clip: padding-box;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-button {
  --uno: h0 w0 hidden;
}
::-webkit-scrollbar-corner {
  --uno: bg-transparent;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}